# Dependencies
node_modules/

# Nuxt
.nuxt/
.output/
.data/
.nitro/
.cache/

# Env
.env
.env.local
.env.*.local

# Build
dist/

# Wrangler
.wrangler/
wrangler.toml.bak

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Archives
*.tar.gz
*.zip

# System
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Local config
options.vite